<ion-menu side="right" [content]="content">
  <ion-toolbar>
    <ion-title>{{ 'MENU' | translate }}</ion-title>
  </ion-toolbar>
  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">

        <ion-icon name="{{ p.icon }}" *ngIf="p.icon"></ion-icon>
        {{ p.title | translate }}

      </button>
      <button ion-item menuClose>{{ 'CLOSE' | translate }}</button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>