<app-header [appTitle]="appTitle"></app-header>
<ion-content padding>
  <p>...</p>
  <h3>{{ 'login.sub_title' | translate }}</h3>


    <section *ngIf="! loggedIn">
      <div>{{ 'login.description' | translate }}</div>
      
      <ion-list>
        <ion-item>
          <ion-label primary stacked>{{ 'User ID' | translate }}</ion-label>
          <ion-input [(ngModel)]="user_login" placeholder="{{ 'Input User ID' | translate }}"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label primary stacked>{{ 'Password' | translate }}</ion-label>
          <ion-input type="password" [(ngModel)]="user_pass" placeholder="{{ 'Input Password' | translate }}"></ion-input>
        </ion-item>

        <ion-item *ngIf="showLoader">
          <ion-spinner></ion-spinner>
          {{ loadMessage }}
        </ion-item>
        
        <ion-item *ngIf="showError" text-wrap>
          <ion-icon name="warning"></ion-icon>
          {{ errorMessage }}
        </ion-item>


        <ion-item>
          <button (click)="onClickLogin()">Sign In</button>
        </ion-item>

      </ion-list>

      
    
    </section>




    <section *ngIf=" loggedIn ">
      {{ 'login.already_logged_in' | translate:{username: user.user_login} }}
      
      <br />
      <button (click)=" onClickLogout() ">Logout</button>

    </section>
  



</ion-content>
