<app-header [appTitle]="appTitle"></app-header>
<ion-content padding>
  <p>...</p>
  <h3>{{ 'login.sub_title' | translate }}</h3>


    <section *ngIf="! loggedIn">
      <div>{{ 'login.description' | translate }}</div>
      
      <ion-list>
        <ion-item>
          <ion-label primary stacked>User ID</ion-label>
          <ion-input [(ngModel)]="user_login" placeholder="Please input your ID."></ion-input>
        </ion-item>

        <ion-item>
          <ion-label primary stacked>Password</ion-label>
          <ion-input type="password" [(ngModel)]="user_pass" placeholder="Input password."></ion-input>
        </ion-item>

        <ion-item *ngIf="showLoader">
          <ion-spinner></ion-spinner>
          {{ loadMessage }}
        </ion-item>
        
        <ion-item *ngIf="showError" text-wrap>
          <ion-icon name="warning"></ion-icon>
          {{ errorMessage }}
        </ion-item>


        <ion-item>
          <button (click)="onClickLogin()">Sign In</button>
        </ion-item>

      </ion-list>

      
    
      <ion-list>

        <h2>User Register</h2>
        
        <ion-item>
          <ion-input [(ngModel)]="user_login" placeholder="Input User ID"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input [(ngModel)]="user_pass" placeholder="Input Password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input [(ngModel)]="user_email" placeholder="Input Email"></ion-input>
        </ion-item>

        <ion-item>
          <button (click)="onClickRegister()">Register</button>
        </ion-item>

      </ion-list>


    </section>




    <section *ngIf=" loggedIn ">
      {{ 'login.already_logged_in' | translate:{username: user.user_login} }}
      
      <br />
      <button (click)=" onClickLogout() ">Logout</button>

    </section>
  



</ion-content>
