<ion-header>
  <app-header [appTitle]="appTitle" [hideCreateButton]="true"></app-header>
</ion-header>
<ion-content>
  <br clear="all"/>
  <button primary (click)="design=1">Design 1</button>
  <button primary (click)="design=2">Design 2</button>
  <br clear="all"/>
  <ion-card *ngIf="design ==1">
    <ion-card *ngIf="!isCordova" id="primary-photo" (click)="onClickPrimaryPhotoBrowser()">
      <div class="wrap">
        <div><img [src]="urlPrimaryPhoto"></div>
        <input type="file" (change)="onBrowserUpload($event)">
        <span>Photo upload</span>
      </div>
    </ion-card>
    <ion-card *ngIf="isCordova" id="primary-photo" (click)="onClickPrimaryPhotoApp()">
      <div class="wrap">
        <div><img [src]="urlPrimaryPhoto"></div>
        <button primary>CORDOVA UPLOAD</button>
      </div>
    </ion-card>

    <ion-list text-wrap>
      <ion-item-divider light>
        <h2>Fill in all Information</h2>
      </ion-item-divider>
      <ion-item>
        <ion-label primary stacked>{{ 'First Name' | translate }}</ion-label>
        <ion-input [(ngModel)]="post.first_name" placeholder="Input First Name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label primary stacked>{{ 'Last Name' | translate }}</ion-label>
        <ion-input [(ngModel)]="post.last_name" placeholder="Input Last Name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label primary stacked>{{ 'Middle Name' | translate }}</ion-label>
        <ion-input [(ngModel)]="post.middle_name" placeholder="Input Middle Name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label primary stacked>{{ 'Address' | translate }}</ion-label>
        <ion-input text-wrap [(ngModel)]="post.address" placeholder="Input Address"></ion-input>
      </ion-item>



      <ion-item>
        <ion-label primary stacked>{{ 'Password' | translate }}</ion-label>
        <ion-input [(ngModel)]="post.password" placeholder="Input Password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label primary stacked>{{ 'Mobile No.' | translate }}</ion-label>
        <ion-input [(ngModel)]="post.mobile" placeholder="Input Mobile"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'Birthday' | translate }}</ion-label>
        <ion-datetime displayFormat="YYYY/DD/MM" pickerFormat="MMMM DD YYYY" [(ngModel)]="post.birthday"></ion-datetime>
        <ion-icon name="calendar" item-right=""></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'Gender' | translate }}</ion-label>
        <ion-select [(ngModel)]="post.gender">
          <ion-option value="F">Female</ion-option>
          <ion-option value="M">Male</ion-option>
        </ion-select>
      </ion-item>


      <ion-item>
        <ion-label primary stacked>{{ 'Title' | translate }}</ion-label>
        <ion-input [(ngModel)]="post.title" placeholder="Input Title"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label primary stacked>{{ 'Content' | translate }}</ion-label>
        <ion-textarea [(ngModel)]="post.content" [class.focused]='isFocused' (focus)="isFocused=true" placeholder="Input Content"></ion-textarea>
      </ion-item>
      <ion-item>
        <button full (click)="onClickPost()">{{ 'POST CREATE SUBMIT' | translate }}</button>
      </ion-item>
    </ion-list>

  </ion-card >

  <ion-card *ngIf="design ==2">
    <ion-card *ngIf="!isCordova" id="primary-photo" (click)="onClickPrimaryPhotoBrowser()">
      <div class="wrap">
        <div><img [src]="urlPrimaryPhoto"></div>
        <input type="file" (change)="onBrowserUpload($event)">
        <span>Photo upload</span>
      </div>
    </ion-card>
    <ion-card *ngIf="isCordova" id="primary-photo" (click)="onClickPrimaryPhotoApp()">
      <div class="wrap">
        <div><img [src]="urlPrimaryPhoto"></div>
        <button primary>CORDOVA UPLOAD</button>
      </div>
    </ion-card>

    <ion-list text-wrap>
      <ion-item-divider light>
        <h2>Fill in all Information</h2>
      </ion-item-divider>
      <ion-item>
        <ion-label floating>{{ 'First Name' | translate }}</ion-label>
        <ion-input [(ngModel)]="post.first_name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'Last Name' | translate }}</ion-label>
        <ion-input [(ngModel)]="post.last_name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'Middle Name' | translate }}</ion-label>
        <ion-input [(ngModel)]="post.middle_name" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'Address' | translate }}</ion-label>
        <ion-input text-wrap [(ngModel)]="post.address" ></ion-input>
      </ion-item>



      <ion-item>
        <ion-label floating>{{ 'Password' | translate }}</ion-label>
        <ion-input [(ngModel)]="post.password" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'Mobile No.' | translate }}</ion-label>
        <ion-input [(ngModel)]="post.mobile" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'Birthday' | translate }}</ion-label>
        <ion-datetime displayFormat="YYYY/DD/MM" pickerFormat="MMMM DD YYYY" [(ngModel)]="post.birthday" margin-left></ion-datetime>
        <ion-icon name="calendar" item-right=""></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'Gender' | translate }}</ion-label>
        <ion-select [(ngModel)]="post.gender" placeholder="Select Gender" margin-left>
          <ion-option value="F">Female</ion-option>
          <ion-option value="M">Male</ion-option>
        </ion-select>
      </ion-item>


      <ion-item>
        <ion-label floating>{{ 'Title' | translate }}</ion-label>
        <ion-input [(ngModel)]="post.title"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label floating>{{ 'Content' | translate }}</ion-label>
        <ion-textarea [(ngModel)]="post.content" [class.focused]='isFocused' (focus)="isFocused=true"></ion-textarea>
      </ion-item>
        <button  block (click)="onClickPost()">{{ 'POST CREATE SUBMIT' | translate }}</button>
    </ion-list>
  </ion-card>

</ion-content>
