.post-edit-page {
  ion-content {
    #primary-photo {
      cursor: pointer;
        position: relative;
      .wrap {
        margin: 1em auto;
        width: 40vw;
        div {
          width: 40vw;
          height: 40vw;
        }
        input {
          position: absolute;
          z-index: 100;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          opacity: 0.01;
          font-size: 16em;
        }
      }
    }
    ion-list {
      ion-item {
        padding-right: 16px;
      }

      .focused {
        textarea {
          height: 10em;
        } 
      }
    }
  }
}

.alert-primary-photo {
    .alert-button {
        width: 33.33%;
        .button-inner {
            justify-content: center;
        }
    }
    .alert-button-group.vertical {
        flex-direction: row ;
    }
}



