<app-header [appTitle]="appTitle" [hideCreateButton]="true"></app-header>
<ion-content padding>


    <ion-card *ngIf="!isCordova" id="primary-photo" (click)="onClickPrimaryPhotoBrowser()">
      <div class="wrap">
        <div><img [src]="urlPrimaryPhoto"></div>
        <input type="file" (change)="onBrowserUpload($event)">
      </div>
    </ion-card>
    <ion-card *ngIf="isCordova" id="primary-photo" (click)="onClickPrimaryPhoto()">
      <div class="wrap">
        <div><img [src]="urlPrimaryPhoto"></div>
        <button primary>CORDOVA UPLOAD</button>
      </div>
    </ion-card>



    <ion-list text-wrap>
      <ion-item>
        <ion-label primary stacked>{{ 'Frist Name' | translate }}</ion-label>
        <ion-input [(ngModel)]="post.first_name" placeholder="Input First Name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label primary stacked>{{ 'Last Name' | translate }}</ion-label>
        <ion-input [(ngModel)]="post.last_name" placeholder="Input Last Name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label primary stacked>{{ 'Middle Name' | translate }}</ion-label>
        <ion-input [(ngModel)]="post.middle_name" placeholder="Input Middle Name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label primary stacked>{{ 'Address' | translate }}</ion-label>
        <ion-input [(ngModel)]="post.address" placeholder="Input Address"></ion-input>
      </ion-item>



      <ion-item>
        <ion-label primary stacked>{{ 'Password' | translate }}</ion-label>
        <ion-input [(ngModel)]="post.password" placeholder="Input Password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label primary stacked>{{ 'Mobile No.' | translate }}</ion-label>
        <ion-input [(ngModel)]="post.mobile" placeholder="Input Mobile"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label primary stacked>{{ 'Birthday' | translate }}</ion-label>
        <ion-input [(ngModel)]="post.birthday" placeholder="Input Birthday"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label primary stacked>{{ 'Gender' | translate }}</ion-label>
        <ion-input [(ngModel)]="post.gender" placeholder="Input Gender"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label primary stacked>{{ 'Title' | translate }}</ion-label>
        <ion-input [(ngModel)]="post.title" placeholder="Input Title"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label primary stacked>{{ 'Content' | translate }}</ion-label>
        <ion-textarea [(ngModel)]="post.content" [class.focused]='isFocused' (focus)="isFocused=true" placeholder="Input Content"></ion-textarea>
      </ion-item>



      <ion-item>
        <button (click)="onClickPost()">{{ 'POST CREATE SUBMIT' | translate }}</button>
      </ion-item>




    </ion-list>

</ion-content>
