.post-edit-page {
  ion-content {
    background: url("http://work.org/project/helper-0.5/app/tmp/person/blur.jpg");
    background-size: cover;
    #primary-photo {
      cursor: pointer;
      .wrap {
        margin: 1em auto;
        width: 40vw;
        div {
          width: 40vw;
          height: 40vw;
        }
      }
    }
    ion-list {
      ion-item {
        padding-right: 16px;
      }
    }
  }
}

.alert-primary-photo {
    .alert-button {
        width: 33.33%;
        .button-inner {
            justify-content: center;
        }
    }
    .alert-button-group.vertical {
        flex-direction: row ;
    }
}



