<ion-header>

  <ion-navbar>
    <ion-title>Search</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding no-margin>
  <ion-label primary stacked>{{ 'Search by Gender' }}</ion-label>
  <ion-row>

    <ion-col width-50>
      <ion-item>
        <ion-label>Male</ion-label>
        <ion-checkbox [(ngModel)]="data.male" (ionChange)="search($event)"></ion-checkbox>
      </ion-item>
    </ion-col>
    <ion-col width-50>
      <ion-item>
        <ion-label>Female</ion-label>
        <ion-checkbox [(ngModel)]="data.female" (ionChange)="search($event)"></ion-checkbox>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-label primary stacked>{{ 'Search by Age' }}</ion-label>
  <ion-item>
    <ion-range  dualKnobs="true" min="{{ searchByAge.lower }}" max="{{ searchByAge.upper }}" step="1" [(ngModel)]="searchByAge" (ionChange)="search()" debounce="500">
      <ion-label range-left>{{ searchByAge.lower }}</ion-label>
      <ion-label range-right>{{ searchByAge.upper }}</ion-label>
    </ion-range>
  </ion-item>

  <ion-label primary stacked>{{ 'Search by Address' }}</ion-label>
  <ion-searchbar [(ngModel)]="data.address" debounce="500" (ionInput)="search($event)" placeholder="Input Address..."></ion-searchbar>

  <ion-label primary stacked>{{ 'Search by Name' }}</ion-label>
  <ion-searchbar [(ngModel)]="data.name" debounce="500" (ionInput)="search($event)" placeholder="Input Name..."></ion-searchbar>


<p>
  Searching:
  Age between {{ searchByAge.lower }} and {{ searchByAge.upper }}
  <span *ngIf="data.male">and Male</span>
  <span *ngIf="data.female">and Female</span>
  <span *ngIf="data.address">and address like "{{data.address}}"</span>
  <span *ngIf="data.name">and name like "{{data.name}}"</span>
</p>


<!--
  <button (click)="showAgeRange()">
    Search
  </button>
  -->

  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>

  <ion-list text-wrap >
    <ion-item *ngFor="let post of posts">
      {{post.post_title}}
      {{ post.meta.address[0] }}
      {{ post.meta.first_name[0] }}
    </ion-item>
  </ion-list>

  <!--ion-list>
    <ion-item text-wrap *ngFor=" let post of posts; let i = index;  ">
      <ion-avatar item-left>
        <img [src]="post.urlPrimaryPhoto"/>
      </ion-avatar>
      <h3>{{ post.post_title }}</h3>
      <div>
        {{ post.post_content }}
      </div>
      <ion-note item-right>3:43 pm</ion-note>
      <button clear item-right (click)="onSelect(i)"><ion-icon name='arrow-dropdown-circle'></ion-icon>View</button>

      <div *ngIf="moreButton[i]">
        <ion-item-group text-wrap>
          <ion-item-divider light><h2>Personal Information</h2></ion-item-divider>
          <ion-item><ion-label>Name : {{ post.meta.first_name[0] }} {{ post.meta.last_name[0] }}</ion-label></ion-item>
          <ion-item><ion-label>Gender : {{ post.meta.gender[0] }}</ion-label></ion-item>
          <ion-item><ion-label>Age : {{ post.meta.birthday[0] }}</ion-label></ion-item>
          <ion-item><ion-label>Mobile # : {{ post.meta.mobile[0] }}</ion-label></ion-item>
          <ion-item><ion-label>Address : {{ post.meta.address[0] }}</ion-label></ion-item>
        </ion-item-group>
      </div>
    </ion-item>
  </ion-list-->

</ion-content>
