<ion-header>

  <ion-navbar>
    <ion-title>Search</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding no-margin>
  <ion-label primary stacked>{{ 'Search by Gender' }}</ion-label>
  <ion-row>
    <ion-col width-50>
      <ion-item>
        <ion-label>Male</ion-label>
        <ion-checkbox [(ngModel)]="searchByMale"></ion-checkbox>
      </ion-item>
    </ion-col>

    <ion-col width-50>
      <ion-item>
        <ion-label>Female</ion-label>
        <ion-checkbox checked="true" [(ngModel)]="searchByFemale"></ion-checkbox>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-label primary stacked>{{ 'Search by Age' }}</ion-label>
  <ion-item>
    <ion-range  dualKnobs="true" min="18" max="40" step="1" [(ngModel)]="searchByAge">
      <ion-label range-left>18</ion-label>
      <ion-label range-right>40</ion-label>
    </ion-range>
  </ion-item>

  <ion-label primary stacked>{{ 'Search by Address' }}</ion-label>
  <ion-searchbar [(ngModel)]="searchByAddress" [formControl]="searchControl" (ionInput)="onSearchInput()" placeholder="Input Address..."></ion-searchbar>

  <ion-label primary stacked>{{ 'Search by Name' }}</ion-label>
  <ion-searchbar [(ngModel)]="searchByName" [formControl]="searchControl" (ionInput)="onSearchInput()" placeholder="Input Name..."></ion-searchbar>

  <ion-card>
    <pre>
      Summary
      Name : {{searchByName}}
      Age : {{searchByAge.lower}} - {{searchByAge.upper}}
      Gender : {{searchByMale ? 'Male' : ''}} {{searchByFemale ? 'Female' : ''}}
      Address : {{searchByAddress}}
    </pre>
  </ion-card>

  <button (click)="showAgeRange()">
    Search
  </button>

  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>

  <ion-list>
    <ion-item *ngFor="let item of items">
      {{item.title}}
    </ion-item>
  </ion-list>


</ion-content>
