<ion-header>

  <ion-navbar>
    <ion-title>Search</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding no-margin>
  <ion-label primary stacked>{{ 'Search by Gender' }}</ion-label>
  <ion-list radio-group>
    <ion-item>
      <ion-label>Female</ion-label>
      <ion-checkbox checked="true" [(ngModel)]="searchByFemale"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Male</ion-label>
      <ion-checkbox [(ngModel)]="searchByMale"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-label primary stacked>{{ 'Search by Age' }}</ion-label>
  <ion-searchbar [(ngModel)]="searchByAge" [formControl]="searchControl" (ionInput)="onSearchInput()" placeholder="Input Age..."></ion-searchbar>

  <ion-label primary stacked>{{ 'Search by Address' }}</ion-label>
  <ion-searchbar [(ngModel)]="searchByAddress" [formControl]="searchControl" (ionInput)="onSearchInput()" placeholder="Input Address..."></ion-searchbar>

  <ion-label primary stacked>{{ 'Search by Name' }}</ion-label>
  <ion-searchbar [(ngModel)]="searchByName" [formControl]="searchControl" (ionInput)="onSearchInput()" placeholder="Input Name..."></ion-searchbar>

  <ion-card>
    <pre>
      Summary
      Gender : {{searchByMale ? 'Male' : ''}} {{searchByFemale ? 'Female' : ''}}  
      Name : {{searchByName}}
      Age : {{searchByAge}}
      Address : {{searchByAddress}}
    </pre>
  </ion-card>

  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>

  <ion-list>
    <ion-item *ngFor="let item of items">
      {{item.title}}
    </ion-item>
  </ion-list>


</ion-content>
