
ion-header {
    button[login] {
        font-size: 140%;
    }
}


.md .app-root ion-page ion-content {
    margin-top: 56px;
}
.ios .app-root ion-page ion-content {
    margin-top: 44px;
}
.wp .app-root ion-page ion-content {
    margin-top: 46px;
}


