.home-page {
  ion-content {
    background-color: map_get($cleanAndCrips, light);
  }

  ion-list-header {
    background-color: map_get($cleanAndCrips, secondary);
    color: map_get($colors, dark);
  }

  .design-one {
    background-color: map_get($cleanAndCrips, primary);
  }

  .design-two {
    float: left;
    width: 50vw;
    height: 40vw;
    text-align: center;
    background-color: map_get($cleanAndCrips, primary);
      ion-icon {
        font-size: 5rem;
      }
  }
  .design-three {
    float: left;
    width: 40vw;
    height: 40vw;
    text-align: center;
    background-color: map_get($cleanAndCrips, primary);
    ion-icon {
      font-size: 5rem;
    }
  }
}
