<app-header [appTitle]="appTitle"></app-header>
<ion-content no-padding>

  <button primary (click)="design=1" style="padding: 2px; margin: 0; height: 15px">1</button>
  <button primary (click)="design=2" style="padding: 2px; margin: 0; height: 15px">2</button>
  <button primary (click)="design=3" style="padding: 2px; margin: 0; height: 15px">3</button>


  <section *ngIf="design==1" class="design-one">
    <ion-card  *ngFor=" let post of posts ">
      <div class="avatar">
        <img src="http://work.org/project/helper-0.5/app/tmp/person/1.jpg"/>
      </div>


      <ion-card-content>
        <ion-card-title>
          {{ post.title }}
        </ion-card-title>
        <p>
          {{ post.content }}
        </p>
        <ion-note item-right>{{ post.post_date | date }}</ion-note>
      </ion-card-content>


    <ion-row no-padding>
      <ion-col>
        <button clear small no-padding>
          <ion-icon name='arrow-dropdown-circle'></ion-icon>
          More
        </button>
      </ion-col>
      <ion-col>
        <button clear small no-padding>
          <ion-icon name='quote'></ion-icon>
          Comment
        </button>
      </ion-col>
      <ion-col text-right>
        <button clear small>
          <ion-icon name='share-alt'></ion-icon>
          Share
        </button>
      </ion-col>
    </ion-row>


    </ion-card>
  </section>



  <ion-list *ngIf="design==2" class="design-two" >
    <ion-item  text-wrap *ngFor=" let post of posts ">
      <ion-avatar item-left>
        <img src="http://work.org/project/helper-0.5/app/tmp/person/1.jpg"/>
      </ion-avatar>
      <h3>{{ post.title }}</h3>
      <div>
        {{ post.content }}
      </div>
      <ion-note item-right>3:43 pm</ion-note>
      <button clear item-right><ion-icon name='arrow-dropdown-circle'></ion-icon>View</button>
    </ion-item>
  </ion-list>


  <ion-list *ngIf="design==3" class="design-three">
      <ion-item text-wrap *ngFor=" let post of posts ">
        <ion-thumbnail item-left>
          <img src="http://work.org/project/helper-0.5/app/tmp/person/1.jpg">
        </ion-thumbnail>
        <h2>{{ post.title }}</h2>
        <div>
          {{ post.content }}
        </div>
        <ion-note item-right>3:43 pm</ion-note>
        <ion-row no-padding>
          <ion-col>
            <button clear small no-padding>
              <ion-icon name='arrow-dropdown-circle'></ion-icon>
              More
            </button>
          </ion-col>
          <ion-col>
            <button clear small no-padding>
              <ion-icon name='quote'></ion-icon>
              Comment
            </button>
          </ion-col>
        </ion-row>
      </ion-item>
  </ion-list>


  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
