.post-list-page {
  section {
    ion-card {
      .avatar {
        margin: 1em auto .2em;
        width: 60vw;
        img {
          width: 60vw;
          height: 60vw;
          border-radius: 50%;
        }
      }
    }
  }
}


ion-note {
  font-size: 12px;
  align-self: flex-start;
  margin-top: 14px;
}
