<ion-header>
  <app-header [appTitle]="appTitle"></app-header>
</ion-header>

<ion-content no-padding>


<ion-nav-buttons>
  <button primary [class.selected]="design==1" (click)="design=1">1</button>
  <button primary [class.selected]="design==2" (click)="design=2">2</button>
  <button primary [class.selected]="design==3" (click)="design=3">3</button>
  <button primary [class.selected]="design==4" (click)="design=4">4</button>
</ion-nav-buttons>
  <section *ngIf="design==1" class="design-one">
    <ion-card  *ngFor=" let post of posts; let i = index;  ">
      <div class="avatar">
        <img [src]="post.urlPrimaryPhoto"/>
      </div>

      <ion-card-content>
        <ion-card-title>
          {{ post.post_title }}
        </ion-card-title>
        <p>
          {{ post.post_content }}
        </p>
        <ion-note item-right>{{ post.post_date | date }}</ion-note>

        <div *ngIf="moreButton[i]">
          <ion-item-group text-wrap>
            <ion-item-divider light><h2>Personal Information</h2></ion-item-divider>
            <ion-item><ion-label>Name : {{ post.meta.first_name[0] }} {{ post.last_name }}</ion-label></ion-item>
            <ion-item><ion-label>Gender : {{ post.meta.gender[0] }}</ion-label></ion-item>
            <ion-item><ion-label>Age : {{ post.meta.birthday[0] | ageCalculator  }}</ion-label></ion-item>
            <ion-item><ion-label>Mobile # : {{ post.mobile }}</ion-label></ion-item>
            <ion-item><ion-label>Address : {{ post.address }}</ion-label></ion-item>
          </ion-item-group>
        </div>
      </ion-card-content>

      <ion-row no-padding>
        <ion-col>
          <button clear small no-padding (click)="onSelect(i)">
            <ion-icon name='arrow-dropdown-circle'></ion-icon>
            More
          </button>
        </ion-col>
        <ion-col>
          <button clear small no-padding>
            <ion-icon name='quote'></ion-icon>
            Comment
          </button>
        </ion-col>
        <ion-col text-right>
          <button clear small>
            <ion-icon name='share-alt'></ion-icon>
            Share
          </button>
        </ion-col>
      </ion-row>


    </ion-card>
  </section>



  <ion-list *ngIf="design==2" class="design-two" >
    <ion-item  text-wrap *ngFor=" let post of posts; let i = index;  ">
      <ion-avatar item-left>
        <img [src]="post.urlPrimaryPhoto"/>
      </ion-avatar>
      <h3>{{ post.title }}</h3>
      <div>
        {{ post.content }}
      </div>
      <ion-note item-right>3:43 pm</ion-note>
      <button clear item-right (click)="onSelect(i)"><ion-icon name='arrow-dropdown-circle'></ion-icon>View</button>

      <div *ngIf="moreButton[i]">
        <ion-item-group text-wrap>
          <ion-item-divider light><h2>Personal Information</h2></ion-item-divider>
          <ion-item><ion-label>Name : {{ post.first_name }} {{ post.last_name }}</ion-label></ion-item>
          <ion-item><ion-label>Gender : {{ post.gender }}</ion-label></ion-item>
          <ion-item><ion-label>Age : {{ post.birthday | ageCalculator  }}</ion-label></ion-item>
          <ion-item><ion-label>Mobile # : {{ post.mobile }}</ion-label></ion-item>
          <ion-item><ion-label>Address : {{ post.address }}</ion-label></ion-item>
        </ion-item-group>
      </div>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="design==3" class="design-three">

    <ion-item text-wrap *ngFor=" let post of posts; let i = index;  ">
      <ion-thumbnail item-left>
        <img [src]="post.urlPrimaryPhoto"/>
      </ion-thumbnail>
      <h2>{{ post.title }}</h2>
      <div>
        {{ post.content }}
      </div>
      <ion-note item-right>3:43 pm</ion-note>

      <div *ngIf="moreButton[i]">
        <ion-item-group text-wrap>
          <ion-item-divider light><h2>Personal Information</h2></ion-item-divider>
          <ion-item><ion-label>Name : {{ post.first_name }} {{ post.last_name }}</ion-label></ion-item>
          <ion-item><ion-label>Gender : {{ post.gender }}</ion-label></ion-item>
          <ion-item><ion-label>Age : {{ post.birthday | ageCalculator  }}</ion-label></ion-item>
          <ion-item><ion-label>Mobile # : {{ post.mobile }}</ion-label></ion-item>
          <ion-item><ion-label>Address : {{ post.address }}</ion-label></ion-item>
        </ion-item-group>
      </div>

      <ion-row no-padding>
        <ion-col>
          <button clear small no-padding (click)="onSelect(i)">
            <ion-icon name='arrow-dropdown-circle'></ion-icon>
            More
          </button>
        </ion-col>
        <ion-col>
          <button clear small no-padding>
            <ion-icon name='quote'></ion-icon>
            Comment
          </button>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>


  <section *ngIf="design==4" class="design-four">
    <ion-card  *ngFor=" let post of posts; let i = index; ">
      <div class="avatar">
        <img [src]="post.urlPrimaryPhoto"/>
      </div>
      <ion-card-content>
        <ion-card-title>
          {{ post.title }}
        </ion-card-title>
        <p>
          {{ post.content }}
        </p>
        <ion-note item-right>{{ post.post_date | date }}</ion-note>
        <div *ngIf="moreButton[i]">
          <ion-item-group text-wrap>
            <ion-item-divider light><h2>Personal Information</h2></ion-item-divider>
            <ion-item><ion-label>Name : {{ post.first_name }} {{ post.last_name }}</ion-label></ion-item>
            <ion-item><ion-label>Gender : {{ post.gender }}</ion-label></ion-item>
            <ion-item><ion-label>Age : {{ post.birthday | ageCalculator }}</ion-label></ion-item>
            <ion-item><ion-label>Mobile # : {{ post.mobile }}</ion-label></ion-item>
            <ion-item><ion-label>Address : {{ post.address }}</ion-label></ion-item>
          </ion-item-group>
        </div>
      </ion-card-content>
      <ion-row no-padding>
        <ion-col>
          <button clear small no-padding (click)="onSelect(i)">
            <ion-icon name='arrow-dropdown-circle'></ion-icon>
            More
          </button>
        </ion-col>
        <ion-col>
          <button clear small no-padding>
            <ion-icon name='quote'></ion-icon>
            Comment
          </button>
        </ion-col>
        <ion-col text-right>
          <button clear small>
            <ion-icon name='share-alt'></ion-icon>
            Share
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </section>


  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
